// Bullet
.bullet {
    padding-bottom: 1em;

    .developer-name {
        opacity: 0.1;
        transition: all 1s ease;
    }

    .bullet-text {
        display: inline-block;
        font-size: 1.5em;
        padding-right: 1em;
    }

    .link-list {
        opacity: 0.2;
        display: inline-block;
        transition: all 1s ease;
    }

    &:hover {
        .developer-name {
            opacity: 1;
        }

        .link-list {
            opacity: 1;
        }
    }
}