@import "variables.scss";

// Bullet
.bullet {
    padding: $bullet-padding;

    &:focus, &:hover {
        border: $bullet-hover-border;
    }

    .tag {
        display: block;
        font-size: $bullet-tag-font-size;
    }

    .text {
        display: block;
        width: 100%;
        font-size: $bullet-text-font-size;
        padding-right: 1rem;
    }

    .link-list {
        display: block;
    }
}