@import "variables.scss";

// Button
.button {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: font-size 1s;

    // Color
    &.button-color- {
        &default {}

        &red {
            &:hover {
                color: red;
            }
        }

        &green {
            &:hover {
                color: green;
            }
        }
    }

    // Variant
    &.button-variant- {
        &default {
            line-height: $button-font-size;
            font-size: $button-font-size;
        }

        &edit-slide {
            line-height: $button-edit-slide-hover-font-size;
            font-size: $button-edit-slide-font-size;

            &:hover {
                font-size: $button-edit-slide-hover-font-size - 0.1;
            }
        }

        &edit-bullet {
            display: block;
            line-height: $button-edit-bullet-hover-font-size;
            font-size: $button-edit-bullet-font-size;

            &:hover {
                font-size: $button-edit-bullet-hover-font-size - 0.1;
            }
        }

        &edit-link {}
    }
}