 /* Helpers
========================================================================== */

// Vertical Align Positioning
.valign-wrapper {
    display: flex;
    align-items: center;

    .valign {
        display: block;
    }
}

// Text Align
.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center, .center-align {
    text-align: center;
}

// block
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

//
.no-padding {
    padding: 0 !important;
}