/* Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

/* Grid
   ========================================================================== */

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width / 3 !default;
$element-bottom-margin: $gutter-width * 2 / 3 !default;

/* Slide
   ========================================================================== */

$slide-heading-background-color: aquamarine;
$slide-title-text-color: white;

/* Bullet
   ========================================================================== */
$bullet-hover-border: 1px solid;
$bullet-padding: 1rem;
$bullet-tag-font-size: 1rem;
$bullet-text-font-size: 1.5rem;

/* Button
   ========================================================================== */

// default
$button-font-size: 1rem;

// edit-slide button
$button-edit-slide-font-size: 1.5rem;
$button-edit-slide-hover-font-size: 2rem;

// edit-bullet button
$button-edit-bullet-font-size: 1rem;
$button-edit-bullet-hover-font-size: 1.5rem;